---
import MainLayout from "../../layouts/MainLayout.astro";
import {getCollection} from 'astro:content';
import type {CollectionEntry} from 'astro:content';

import Card from "../../components/Card.astro";

const allArgumentArticles: CollectionEntry<'blog'>[] = await getCollection('blog');
---

<MainLayout>
    <h1 class="text-2xl pb-3">All Arguments</h1>
    <div class="grid grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-3">
        {allArgumentArticles.map(article => (
            <Card arg={article} />
        ))}
    </div>
</MainLayout>