---
import type {CollectionEntry} from "astro:content";
import {BASE} from '../constants';
import Tags from './Tags.astro';
const { arg } = Astro.props;
interface Props {
    arg: CollectionEntry<'blog'>
}
---
<div class="max-w-80 mx-auto mt-10">
    <div class="bg-white rounded-lg overflow-hidden shadow-lg dark:shadow-slate-200/50">
      <div class="p-6">
        <h2 class="text-xl font-semibold mb-4">
          <a href={BASE + '/articles/' + arg.slug}>{arg.data.title}</a>
        </h2>
        <Tags tags={arg.data.tags}/>
      </div>
    </div>
  </div>