---
export interface Props {
  index: number;
  type: string;
}

const { index, type = 'pro' } = Astro.props as Props;
---
{
  type == "pro" &&
  <span class="bg-sky-200 dark:bg-sky-500 w-8 h-8 inline-block text-center rounded-full outline outline-1 outline-slate-800 dark:outline-slate-200 dark:outline-2 mr-4">{index}</span>
}

{
  type == "con" &&
  <span class="bg-rose-300 dark:bg-rose-500 text-rose-800 dark:text-rose-200 w-6 h-6 inline-block text-center rounded-full outline outline-1 outline-slate-800 dark:outline-slate-200 dark:outline-2 mr-4">{index}</span>
}

{
  type == "con-con" &&
  <span class="bg-emerald-300 dark:bg-emerald-500 text-green-800 dark:text-green-200 w-6 h-6 inline-block text-center rounded-full outline outline-1 outline-slate-800 dark:outline-slate-200 dark:outline-2 mr-4">{index}</span>
}

