---
import { Icon } from 'astro-icon/components';
import {BASE} from '../constants';
---

<nav class="bg-gray-900 text-white">
    <div
      class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4"
    >
      <a href={'/' + BASE} class="flex items-center space-x-3 rtl:space-x-reverse">
          <Icon name="book" class="text-5xl text-white"/>
          <span class="self-center text-2xl font-semibold whitespace-nowrap"><span class="text-sky-500">Collectiō</span> Argūmentōrum</span>
      </a>
    </div>
  </nav>